<div    id="main-column" 
        (dragenter)="$event.preventDefault()"
        (dragover)="$event.preventDefault(); redraw();"
        (drop)="stopDrag($event)"
        (click)="deselect();">
    <app-tool-bar [leftIcons]="getLeftIcons()" [rightIcons]="getRightIcons()"></app-tool-bar>
    <div id="middle-row">
        <app-central-area style="flex-grow: 1;"></app-central-area>
        <app-content-pane></app-content-pane>
    </div>
    <app-steps></app-steps>
    <div    id="background" 
            *ngIf="displayingModal"
            (mousedown)="modal.remove();">
        <div id="modal-inner" (mousedown)="$event.stopPropagation();" (click)="$event.stopPropagation();">
            <ng-template appModalHost></ng-template>
        </div>
    </div>
    <div id="error" *ngIf="error.active">
        {{ error.text }}
        <span class="material-icons" (click)="error.active = false;">clear</span>
    </div>
</div>