#main-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: 100vh;
    position: relative;
    z-index: 1;
}

#middle-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
}

#background {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.25);
}

#modal-inner {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    background-color: #111;
    width: 400px;
    max-height: 100vh;
    padding: 10px;
    overflow-y: auto;
    color: rgba(255, 255, 255, 0.9);
}

#error {
    position: fixed;
    z-index: 2;
    padding: 10px;
    bottom: 30px;
    right: 30px;
    background-color: black;
    color: #EF5350;
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#error .material-icons {
    padding: 5px;
    cursor: pointer;
}