<div class="title">EDIT</div>
<div contenteditable="true" #textArea id="text-area" (keydown)="checkValid($event)">Step Text</div>
<div class="eqContainer" #eqContainer></div>
<div class="title">STYLE</div>
<span class="selector" (mousedown)="unStyle()">Normal</span>
<span class="selector" 
      *ngFor="let style of styleOpts; let idx = index;" 
      [style.backgroundColor]="style.text === 'Bold' ? '#111' : style.color"
      (mousedown)="stylePress(idx)">
  {{ style.text }}
</span>
<div style="display: flex">
  <span class="button" (click)="remove()">Remove Step Text</span>
  <span class="button" (click)="apply(textArea.innerHTML)">Apply</span>
</div>