.eqContainer {
    max-width: 650px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.canvas-container {
    overflow-x: auto;
    white-space: nowrap;
}

.eqUpper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    color: rgba(0, 0, 0, 0.67);
    position: relative;
}

.eqIcon {
    padding: 10px;
    cursor: pointer;
}

.eqText {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    flex-grow: 1;
    padding: 10px;
    text-align: center;
}

.progressCanvas {
    width: 44px;
    height: 44px;
}

.restartIcon {
    position: absolute;
    right: 0px;
}

em {
    font-style: normal;
    font-weight: 600;
}

