* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

p {
    padding: 10px;
}

.border {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.title {
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.tool-bar-icon {
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.slides {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.slide {
    height: 100px;
    width: 140px;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    flex-shrink: 0;    
}

.stepOption {
    height: 100px;
    cursor: pointer;
    padding: 5px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    color: rgba(0, 0, 0, 0.5);
}

.stepOptContainer {
    height: 400px;
    width: 700px;
    overflow-y: scroll;
    padding: 10px;
}

.stepOptTitle {
    font-size: 26px;
    padding: 10px;
}

.customAnimationOption {
    padding: 10px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
}

.customAnimationContainer {
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.removeCustomAnim {
    cursor: pointer;
}

.customAnimationContainer p {
    padding: 10px;
}

.customAnimationUpper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.background {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.1);
    opacity: 1;
}

.dialog {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    position: fixed;
}

.contentOption {
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.okButton {
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.color-selector {
    padding: 10px;
    color: white;
    cursor: pointer;
}

.opacity-selector {
    padding: 10px;
    cursor: pointer;
}

.subsuper-reset-button {
    padding: 10px;
    cursor: pointer;
    color: white;
}

.slider {
    padding-top: 10px;
    padding-bottom: 10px;
}

#main-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;
}

#top-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 50px;
    align-items: center;
    flex-shrink: 0;
}

#middle-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 1;
}

#right-centre {
    width: 200px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    align-items: center;
}

#central-area {
    flex-grow: 1;
    overflow-y: scroll;
}

#bottom-row {
    height: 150px;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: 0;
}

#close-error {
    cursor: pointer;
}

#error-text {
    padding: 5px;
}

#error {
    position: fixed;
    z-index: 2;
    padding: 10px;
    bottom: 30px;
    right: 30px;
    background-color: black;
    color: rgba(229,57,53,0.95);
    border-radius: 5px;
    display: flex;
    align-items: center;
    display: none;
}