.eqContainer {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
    padding-top: 2px;
}

.canvas-container {
    overflow-x: auto;
    white-space: nowrap;
}

.eqUpper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.85);
    position: relative;
    top: -5px;
    padding-top: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.eqIcon {
    padding: 10px;
    cursor: pointer;
    opacity: 0.4;
}

.eqText {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    flex-grow: 1;
    padding: 10px;
    text-align: center;
}

em {
    font-style: normal;
    font-weight: 600;
}

.overlayContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.playButton {
    position: absolute;
    left: 10px;
    bottom: 10px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
}