.eqContainer {
    max-width: 650px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.eqUpper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    color: rgba(0, 0, 0, 0.67);
}

.eqIcon {
    padding: 10px;
    cursor: pointer;
}

.eqText {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    flex-grow: 1;
    padding: 10px;
    text-align: center;
}

.progressLine {
    height: 1px;
    width: 0px;
    background-color: rgba(0, 0, 0, 0.2);
}

em {
    font-style: normal;
    font-weight: 600;
}