<div id="outer" class="flex" (click)="interceptClick($event);">
    <div class="flex">
        <div    class="icon material-icons" 
                (click)="icon.onClick($event)" 
                *ngFor="let icon of leftIcons" 
                [ngClass]="{'active': icon.isActive()}">
            {{ icon.name }}
        </div>
    </div>
    <div style="flex-grow: 1"></div>
    <div class="flex">
            <div    class="icon material-icons" 
                    (click)="icon.onClick($event)" 
                    *ngFor="let icon of rightIcons" 
                    [ngClass]="{'active': icon.isActive()}">
                {{ icon.name }}
            </div>
        </div>
</div>