<div id="outer">
  <div  *ngFor="let s of Arr(numSteps).fill(1); let stepIdx = index;" 
        class="step"
        [ngClass]="{'selected': step.selected === stepIdx}">
    <div class="step-left"
        (mouseenter)="showThumbnail[stepIdx] = true;"
        (mouseleave)="showThumbnail[stepIdx] = false;"
        (click)="select(stepIdx)">
      {{ showThumbnail[stepIdx] ? '' : stepIdx }}
      <canvas #canvas class="thumbnail" [ngClass]="{'show': showThumbnail[stepIdx]}"></canvas>
    </div>
    <div class="step-right" *ngIf="step.selected === stepIdx">
      <span class="material-icons" (click)="add();">add</span>
      <span class="material-icons" 
            (click)="delete()" 
            [ngClass]="{'unavailable': !deleteAvailable()}">delete</span>
      <span class="material-icons"
            [ngClass]="{'unavailable': !stepOptionsAvailable()}">settings</span>
    </div>
  </div>
</div>