#outer {
    width: 250px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    height: 100%;
    overflow-x: auto;
}

#inner {
    padding: 10px;
}

p {
    font-size: 10px;
    color: rgba(0,0,0,0.6);
    text-align: center;
    padding-top: 10px;
}

.selector span {
    line-height: 22px;
    font-size: 18px;
    vertical-align: middle;
}

.selector span:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.color {
    border: 1px solid #2196F3;
}

.selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.grab {
    cursor: grab;
}