<div id="outer">
  <p>{{ getHelpText() }}</p>
  <div id="inner">
    <div class="title">CONTAINERS</div>
    <span class="selector grab" 
          *ngFor="let container of containers; let cIndex = index;"
          (click)="select('c' + cIndex, $event)"
          (dragstart)="deselect(); setAdding('c' + cIndex); dragging = true;"
          [ngClass]="{'selected': selection.adding === 'c' + cIndex,
                      'color': selection.selectedOnCanvas === 'c' + cIndex}"
          draggable="true">
      {{ container }}
    </span>
    <div class="title">TERMS</div>
    <span class="selector grab" 
          *ngFor="let term of terms; let tIndex = index;"
          (click)="select('t' + tIndex, $event)"
          [ngClass]="{'selected': selection.adding === 't' + tIndex,
                      'color': selection.selectedOnCanvas === 't' + tIndex}"
          draggable="true"
          (dragstart)="deselect(); dragging = true; setAdding('t' + tIndex);">
      {{ term }}
      <span *ngIf="selection.adding === 't' + tIndex && !dragging"
            class="material-icons"
            (click)="delete($event)">
          delete
      </span>
    </span>
    <span class="selector material-icons color" 
          (click)="addTerm()"
          *ngIf="!addingTerm">
          add
    </span>
    <span class="selector color" *ngIf="addingTerm">
      <input  type="text" 
              (keyup)="addTermTyped($event)" 
              (blur)="finishAddingTerm(false)"
              #termInput>
      <span class="material-icons more" (mousedown)="showTermTemplate()">more_horiz</span>
    </span>
    <div class="title">FRACTION LINES</div>
    <span class="selector grab" 
          *ngFor="let hDivider of getHDividerArray(); let hIndex = index;"
          (click)="select('h' + hIndex, $event)"
          (dragstart)="deselect(); dragging = true; setAdding('h' + hIndex);"
          [ngClass]="{'selected': selection.adding === 'h' + hIndex,
                      'color': selection.selectedOnCanvas === 'h' + hIndex}"
          draggable="true">
      {{ hDivider }}
      <span *ngIf="selection.adding === 'h' + hIndex && !dragging"
            class="material-icons"
            (click)="delete($event)">
          delete
      </span>
    </span>
    <span class="selector material-icons color" 
          (click)="addHDivider($event)">
          add
    </span>
  </div>
</div>