#outer {
    max-height: calc(100vh - 20px);
    display: flex;
    flex-direction: column;
}

#top {
    overflow-y: scroll;
}

.selection-container {
    padding: 10px 20px 10px 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.top-row {
    display: flex;
}

.top-row p {
    flex-grow: 1;
}

p {
    padding: 5px;
}

.title-row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.title {
    flex-grow: 1;
}

.material-icons {
    cursor: pointer;
}

.add {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 10px;
    padding-right: 10px;
}

.buttonContainer {
    flex-basis: 55px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.durationRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.durationTitle {
    font-style: italic;
}

.slider {
    margin-right: 10px;
}

.textBox {
    width: 50px;
    margin-right: 10px;
}