#bottom-row {
    display: flex;
}

.selector span {
    line-height: 22px;
    font-size: 18px;
    vertical-align: middle;
}

.white {
    color: rgba(255, 255, 255, 0.9);
}

.black {
    color: rgba(0, 0, 0, 0.8);
}